*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 27vw;
  min-width: 34*0px;
  height: 80vh;
  position: relative;
}

.calculator-grid .calculator-grid-buttons > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid .calculator-grid-buttons > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  width: 100%;
  height: 30%;
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.calculator-grid-buttons {
  width: 100%;
  height: 70%;  
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: minmax(auto) repeat(5, auto);
}